@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../public/vector-calendar-icon.jpg);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0.5rem;
}

.strong {
  border: 5px solid white;
  border-radius: 50%;
  padding: 3%;
  transform: scale(0.2) rotate(21deg);
  opacity: 0.2;
  position: absolute;
  top: 14%;
  z-index:-1;
  right: -14vw;
  top: 47%;
}

/* Ajout le 28/2 avec install de datepicker */
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__header {
  background-color: lightsalmon;
}

.react-datepicker {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.3rem;
} */

/* .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 2px;
} */

/* .react-datepicker__month-container {
  border-radius: 0.3rem;
} */

/* .react-datepicker__time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__time-box {
  display: flex;
  justify-content: center;
  align-items: center;
} */
