strike {
  color: grey;
  font-weight: 500;
}

.validationBtn {
  background-color: #16c60c;
}

.schedule {
  background-color: rgb(53, 53, 53) ;
}

.schedule-icon {
  color: #0d6efd;
}

button[class="btn btn-sm btn-danger"]:hover {
  border: 1px solid red;
}

button[class="btn btn-sm btn-success validationBtn"]:hover {
  border: 1px solid greenyellow;
}

.detailsNotEmpty{
    border: 2px solid #fe2cff;
    background-color: pink;
}




