.circle {
  position: absolute;
  left: 17vh;
  top: 16vh;
  transform: translate(-50%, -50%);
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.disable {
  display: none;
}

.core {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.core button {
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.core button i {
  color: rgba(255, 0, 0, 0.9);
  font-size: 1.1rem;
}

.text {
  position: absolute;
  color: black;
  text-shadow: 0 2px 2px grey;
  width: 100%;
  height: 100%;
}

.rotate {
  animation: rotateText 30s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px;
}

/* . {
  position: absolute;
  color: black;
  text-shadow: 0 2px 2px grey;
  width: 100%;
  height: 100%;
} */
