.nav {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0.5% 1%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
}

.button-reset {
  width: 5vh;
  height: 5vh;
  transform: translateY(10%);
  border-radius: 50%;
  background-color: transparent;
}

.connect {
    width: 11%;
    height: 6vh;
    display: inherit;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    background-color: #272697;
    padding: 0.8rem 1rem;
    border-radius: 50px;
    border: 3px solid #25219d;
}
.connect .sign {
  transform: translateY(22%);
  font-size: 1.5em;
  color: white;
  font-family: 'Shadows Into Light', cursive;
}
.connect > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.connect div:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.signIn {
  /* background-color: rgb(45, 202, 71);
  box-shadow: inset 0 2px 5px 5px red; */
  background: linear-gradient(235deg, #64a949, #dcffc0);
  box-shadow: inset 0 2px 5px 5px #0fff0029;
  color: rgb(58, 58, 58);
  text-shadow: 0px 1px 5px rgb(243, 243, 243);
}
.signUp {
  background: linear-gradient(235deg, #48a9a6, rgb(196, 255, 252));
  box-shadow: inset 0 2px 5px 5px #00f7ff29;
  color: rgb(58, 58, 58);
  text-shadow: 0px 1px 5px rgb(243, 243, 243);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 6vh;
  gap: 1.9vw;
}

.menuColumn {
  width: 12vw;
  height: 6vh;
  gap: 1.9vw;
}

.item {
  font-family: 'Shadows Into Light', cursive;
  position: relative;
  width: auto;
  height: 6vh;
  font-size: 1.3rem;
  color: white;
  text-align: center;
}

.itemShadow {
  text-shadow: -2px 2px 2px black;
}

.item > span {
  position: relative;
  width: auto;
  height: 100%;
  display: inline;
  color: inherit;
  margin-bottom: 1.5vh;
}

.item > span::after {
  position: absolute;
  margin-bottom: -0.8vh;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: #ffffffe5; */
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.mylist > span::after {
  background-color: white;
}

.logout > span::after {
  background-color: red;
}

.item:hover {
  cursor: pointer;
}

.logout:hover {
  animation: colorFont 0.5s ease-in-out;
  text-shadow: 0px 4px 4px red;
}

@keyframes colorFont {
  0% {
    color: white;
  }
  100% {
    color: red;
  }
}

.item:hover > span::after {
  transform: scale(1);
}

@media screen and (max-width: 1375px) {
  .connect {
    width: 10%;
    height: 5vh;
    display: inherit;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .connect {
    width: 12%;
    height: 5vh;
    display: inherit;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .connect {
    width: 15%;
    height: 5vh;
    display: inherit;
    justify-content: space-between;
    align-items: center;
  }
}
