.sectionRegister {
  width: 80%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.formRegister {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.h2Register {
  color: white;
  margin-bottom: -0.7vh;
}

a,
a:visited {
  color: #fff;
}

.inputRegister,
.buttonFormRegister {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.labelRegister,
.buttonFormRegister {
  margin-top: 0.9rem;
}

.buttonFormRegister {
  padding: 0.5rem;
}

.labelRegister {
  color: white;
  font-size: 1.2rem;
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.already {
  color: rgb(187, 176, 176);
}
.line {
  display: inline-block;
}

.connexionLink {
  color: white;
  text-decoration: underline;
}

.connexionLink:hover {
  cursor: pointer;
}
